{% extends "base.html" %}
{% load bootstrap3%}
{% block content %}
        <h1>Registro</h1>
        {% if form.errors %}
            <p style="color: red;">
            Existe algun error en el formulario
            </p>
        {% endif %}


        <form action="" method="post">
        {% bootstrap_form form%}
                            <div class="col-sm-12">
                                <input type="submit" class="btn btn-primary" value="Submit" />
                            </div>
            {% csrf_token %}
        </form>
{% endblock %}

